.contact {
  background: #F5F5F5;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: calc(8rem - 116px);

  &__title {
    font-size: 2.25rem;
    margin: 0 auto 1rem;
    font-style: normal;
    font-weight: 600;
    padding: 8rem 32px 0;
    max-width: $pageWidth;

    &::before {
      content: '';
      width: 80px;
      height: 4px;
      display: block;
      background: $lightBlue;
      border-radius: 8px;
      margin-bottom: 1.5rem;
    }
  }

  &__description {
    max-width: 580px;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin: 0 0 1.5rem;
  }

  &__mail {
    color: $bigStone;
    font-size: 1.25rem;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 2px solid $bigStone;
    display: inline-block;
    margin: 3rem 0 0 0;
  }

  &__bottom {
    text-align: center;
    margin: 10rem 0 0;
  }
}


.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  &__link {
    text-decoration: none;
  }

  &__item {
    &+& {
      margin-left: 1.5rem;
    }
  }
}

.social__icon--linkedin {
  color: rgb(0, 127, 178);
  font-size: 28px;
}

.social__icon--twitter {
  color: rgb(0, 172, 237);
  font-size: 28px;
}

.social__icon--fb {
  color: rgb(28, 7, 221);
  font-size: 28px;
}

.social__icon--gh {
  color: rgb(122, 35, 180);
  font-size: 28px;
}