:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #37393b;
    --nav-size: 100px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
    ;
}

// Top Navigation Bar 

.navbar {
    height: var(--nav-size);
    background-color: var(--bg);
    border-bottom: var(--border);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo--image {
        justify-self: start;
        object-fit: contain;
        width: 180px;
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 10px;
        text-align: center;
        align-items: center;
        width: 70vw;
        justify-content: end;
        margin-right: 2rem;
    }

    &__ham-menu {
        display: none;
    }

    @media only screen and (max-width: 828px) {
    position: sticky;

    &__nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: var(--nav-size);
        left: -100%;
        opacity: 0;
        transition: all .5s ease;
    }

    &__nav.active {
        background-color: var(--bg);
        left: 0;
        opacity: 1;
        transition: all .5s ease;
        z-index: 100;
        width: 100%;
    }

    &__logo--image {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__ham-menu {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 75%);
        
        cursor: pointer;
    }

    .MuiSvgIcon-root {
        font-size: 40px;
        display: flex;
        align-items: center;
        color: #fafafa;
    }
}
}


/* <li> */

.nav__item {
    color: #fafafa;
    padding: 0.5rem 1rem;
    transition: all .3s ease;

    &:hover {
        color: rgb(82, 96, 109);
        background-color: rgba(0,0,0,0.1);
        border-radius: 4px;
        padding: 0.75rem 2rem;
    }

    &--darkmode:hover {
        background: none;
        border-radius: 0;
        padding: 0.5rem 1rem;
    }

    @media only screen and (max-width: 828px) {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;

        &:hover {
            background-color: rgba(0,0,0,0.2);
            border-radius: 0;
            padding: 2rem 1rem;
        }
    }
}


/* Icon Button */
.icon__button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    transition: filter 300ms;
    outline: none;
    cursor: pointer;

    &:hover {
        filter: brightness(1.2);
    }
}