.Back {
  display: flex;
  align-items: center;
  margin-top: 40px
}

.BackText {
  margin-left: 5px;
}


.Title {
  margin: 30px 0;
  text-align: center;
}

.Label {
  margin: auto 0!important;
  color: #fafafa!important;
  font-size: 2rem!important;
  margin: 5px 0;
}

.Input {
  color: #fafafa!important;
  font-size: 2rem!important
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.buttonWrapper > Button {
  margin: 10px 5px 0;
}

.imageUploader {
  width:100%;
  overflow: hidden;
}