.Container {
    display: "flex";
    flex-direction: "column";
    min-height: "100vh";
}

.Main {
    flex-grow: 1
}

.Footer {
    text-align: center;
    color: #fff;
    background-color: rgba(255, 105, 97, 0.7);
}

.Link {
    color: #171F3F !important;
    text-decoration: none;
}