$yellow: #F9C802;

$bgColor: #fafafa;
$tomato: rgba(255, 105, 97, 0.7);

$bigStone: #171F3F;
$gray: #52606D;
$lightGray: #F5F7FA;
$green: #06C847;
$violet: #653CAD;
$linkBlue: #0593FB;
$darkBlue: #2251CC;
$lightBlue: #0593FB;

$pageWidth: 1216px;
$mobileWidth: 767px;