$yellow: #f9c802;

$bgColor: #fafafa;
$tomato: rgba(255, 105, 97, 0.7);

$textColor: #171f3f;
$gray: #52606d;
$lightGray: #f5f7fa;
$green: #06c847;
$violet: #653cad;
$linkBlue: #0593fb;
$darkBlue: #2251cc;
$lightBlue: #0593fb;

$pageWidth: 1216px;
$mobileWidth: 767px;
