@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext');
@import "modules/hero.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";

html {
  // font-size: 16px; // default set
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media (max-width: $mobileWidth) {
    font-size: 11px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $bigStone;
  background: $bgColor;
  font-family: 'Poppins', sans-serif;
  border: 16px solid $tomato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: $mobileWidth) {
    border: none;
  }
}

.container {
  max-width: $pageWidth;
  padding: 0 16px;
  margin: 0 auto;
}


@media(max-width:768px) {
  .back-to-top-btn {
    font-size: 18px;
    width: 32px;
    height: 32px;
    bottom: 6px;
    right: 6px;
  }
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}