@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext");
@import "modules/nav.scss";
@import "modules/hero.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";
@import "modules/pdf.scss";
@import "modules/login.scss";

html {
  // font-size: 16px; // default set
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media (max-width: $mobileWidth) {
    font-size: 11px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $textColor;
  background: $bgColor;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: $mobileWidth) {
    border: none;
  }
}

.container {
  max-width: $pageWidth;
  padding: 0 32px;
  margin: 0 auto;
}

.darkmode {
  background: #171f3f !important;
  color: #fafafa;
}